<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398239272549-0vt9qs6r6811hoe7kgakmk9fn4efmcq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398239272549-0vt9qs6r6811hoe7kgakmk9fn4efmcq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBX7v6jHB-G4mvisgTL_TEZcOR6HZuszcE</string>
	<key>GCM_SENDER_ID</key>
	<string>398239272549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meditab.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon21-ad3a9</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon21-ad3a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398239272549:ios:256ff2146898f58667c08c</string>
</dict>
</plist>